<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Security-Policy" content="default-src * self blob: data: gap:; style-src * self 'unsafe-inline' blob: data: gap:; script-src * 'self' 'unsafe-eval' 'unsafe-inline' blob: data: gap:; object-src * 'self' blob: data: gap:; img-src * self 'unsafe-inline' blob: data: gap:; connect-src self * 'unsafe-inline' blob: data: gap:; frame-src * self blob: data: gap:;">
        <title>Group-Chat</title>
        <link rel="icon" href="data:;base64,=">
        <!-- <link rel="stylesheet" href="sweetalert2.min.css"> -->
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
      <!-- <div class="hide-all"></div> -->
        <div class="nav-div" id="navDiv">
          
        </div>
        <input type="hidden" id="hiddenGroupId">

        <div class="container-div">

          <div class="group-container-div" id="group-container">

            </div> 

            <div class="chat-container-div">
              
              <div class="add-messages-div" id="add-messages-div">
              
            </div>

                
            </div>

        </div>

        <div class="popup" id="popup-1">

          <div class="content">
           <div class="close-btn" onclick="togglePopup()" style="cursor:pointer;">
            ×</div>
            
            <h1 id="popupGroupName"></h1> 
            <div class="input-field">
              <input id="searchBox" placeholder="Search User By Name, Email Or Phone..." class="validate"></div>
            <div class="input-field">
              <select id="selectBox" class="validate">
                <option value="name">Name</option>
                <option value="email">Email</option>
                <option value="pame">Phone</option>
              </select>
            </div>
            <button id="searchBtn" class="second-button" style="cursor:pointer;">Search</button>
            <div class="search-container">
              
          </div>

          <div class="members-div">
            
        </div> 
            
          </div>
         </div>
  


        
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <!-- <script src="sweetalert2.min.js"></script> -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="/js/index.js"></script>
    </body>
</html>