<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src * self blob: data: gap:; style-src * self 'unsafe-inline' blob: data: gap:; script-src * 'self' 'unsafe-eval' 'unsafe-inline' blob: data: gap:; object-src * 'self' blob: data: gap:; img-src * self 'unsafe-inline' blob: data: gap:; connect-src self * 'unsafe-inline' blob: data: gap:; frame-src * self blob: data: gap:;">
        <title>Group-Chat</title>
        <link rel="icon" href="data:;base64,=">
        <link rel="stylesheet" href="sweetalert2.min.css">
        <link rel="stylesheet" href="/css/members.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">

        <div class="header">Group 1 <button>Delete Group</button></div>
        <div class="search-div">
            <input type="text" id="searchBox" placeholder="Search By Name, Email or Phone...">
            <select id="selectBox">
                <option value="name">Name</option>
                <option value="email">Email</option>
                <option value="phone">Phone</option>
            </select>
            <button type="button">Search</button>
            <div class="search-container">
                <div class="user" id="1">
                    <h2 class="name">Oshin</h2>
                    <p class="email">sujanian785@gmail.com</p>
                    <p class="phone">7018516835</p>
                    <button id="addBtn">Add</button>
                </div>
            </div>
        </div>

        <div class="members">
            <div class="member" id="1">
                <h2>Oshin</h2>
                <p>sujanian785@gmail.com</p>
                <p>7018516835</p>
                <button>Set as Admin</button>
                <input type="hidden" id="hiddenAdminRights">
                <button class="remove">Remove</button>
            </div>
            <div class="member" id="2">
                <h2>Ramesh</h2>
                <p>ramesh123@gmail.com</p>
                <p>7018896860</p>
                <button class="admin">Remove as Admin</button>
                <input type="hidden" id="hiddenAdminRights">
                <button class="remove">Remove</button>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  
    <script src="/js/members.js"></script>
</body>
</html>